body{
    background-color: black;

}


button{
    cursor: pointer;
}


h1,h2,h3,h4,h5,label,input, textarea{
    color: #ffa41d;
    
}

.btn{
    font-size: 1.8rem;   
    background-color: transparent;
    color: #ffa41d;
    transition:background-color  .3s , color .3s ;
}
.btn:hover{
    background-color: #ffa41d;
    color: black;
}
input, textarea{
    width: 100%;
    font-size: 1.8rem;
    background-color: transparent;
}



h1{
    text-align: center;
}